@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #110606;
  --foreground: #ffffff;
  --tertiary: #2b2828;
  --secondary: #b3b3b3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
